/* Головний колір тексту (параграфів) #555555 */
/* Додатковий колір тексту (заголовків) #303030 */
/* Акцентний колір #FF6C00 */
/* Основний колір тексту на темному фоні #FFFFFF */
/* Додатковий колір тексту на темному фоні #9DA4BD */

/* Він же з прозорістю 60% rgba(157, 164, 189, 0.6); */
/* Bін же з прозорістю 40% rgba(157, 164, 189, 0.4); */


/* Головний колір фону #FFFFFF */
/* Додатковий колір фону #F7F7F7 */
/* Акцентний колір фону #191C26*/
/* Акцентний колір фону #111319 */

:root {
    --primary-text-color: #303030;
    --secondary-text-color: #555555;
    --accent-color: #FF6C00;

    --primary-dark-bg-text-color: #FFFFFF;
    --secondary-dark-bg-text-color: #9DA4BD;

    --primary-background-color: #ffffff;
    --secondary-background-color: #F7F7F7;
    --accent-background-color: #191C26;
}

body {
    background-color: var(--primary-background-color);
    color: var(--primary-text-color);
}

/* Прибирає крапки-маркери у списках */
.list {
    list-style: none;
}

/* BUTTON */
.button {
    color: var(--primary-dark-bg-text-color);
    background-color: transparent;
    border: 1px solid #FF6C00;
    border-radius: 25px;

    /* font-weight: 700;
    font-size: 16px;
    line-height: 1.86;
    letter-spacing: 0.06em; */
}

.button:hover,
.button:focus {
    background-color: var(--accent-color);
}

/* ЛОГОТИП */
.logo {
    color: var(--secondary-text-color);
}

/* НАВІГАЦІЯ */
/* DIV для темного бекграунду, видалити потім */
.dark-bg {
    background-color: var(--accent-background-color);
}

.header-nav .link {
    color: var(--primary-dark-bg-text-color);
}

.header .link:hover,
.header .link:focus {
    color: var(--accent-color);
}

.header-nav .link.current {
    color: var(--accent-color);
}
.header-nav .link.current:hover,
.header-nav .link.current:focus {
    color: var(--primary-dark-bg-text-color);
}

.header .phone {
    color: var(--primary-dark-bg-text-color);
}
.header .phone:hover, 
.header .phone:focus {
    color: var(--accent-color);
}
/* ПІДЗАГОЛОВКИ */
.uptitle {
    /* font-weight: 600;
    font-size: 11px;
    line-height: 1.3636;
    text-transform: uppercase; */
}

.uptitle.dark {
    color: rgba(157, 164, 189, 0.6);
 }

 .uptitle.light {
    color: var(--secondary-text-color);
 }

 .uptitle.contacts {
    color: var(--primary-dark-bg-text-color);
 }

/* ЗАГОЛОВКИ */
.section-title {
    /* font-family: 'Raleway'; */
    /* font-weight: 700;
    font-size: 42px;
    line-height: 1.1666;
    letter-spacing: 0.05em; */
}
.section-title.dark {
    color: var(--primary-dark-bg-text-color);
}

 /* DISCRIPTION */
.description {
    color: var(--secondary-dark-bg-text-color);

    /* font-weight: 400;
    font-size: 18px;
    line-height: 1.6666;
    letter-spacing: 0.02em; */
}
.description.white {
    color: var(--secondary-text-color);
}

/* HERO */
.media .link {
    color: var(--secondary-text-color);
}
.media .link:hover,
.media .link:focus {
    color: var(--accent-color);
}

.hero-title {
    color: var(--primary-dark-bg-text-color);
}
/* ABOUT US */
.about .text {
    color: var(--secondary-text-color);

    /* font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.8571;
    letter-spacing: 0.02em; */
}

.about .button {
    color: var(--primary-text-color);
}
.about .button:hover,
.about .button:focus {
    color: var(--primary-dark-bg-text-color);
    background-color: var(--accent-color);
}


