:root {
  --primary-text-color: #303030;
  --secondary-text-color: #555555;
  --accent-color: #ff6c00;

  --primary-dark-bg-text-color: #ffffff;
  --secondary-dark-bg-text-color: #9da4bd;

  --primary-background-color: #ffffff;
  --secondary-background-color: #f7f7f7;
  --accent-background-color: #191c26;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
}

/* ------------------------------RESET------------------------------ */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

/* ------------------------------CONTAINER------------------------------ */
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  outline: 2px solid red;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

/* ------------------------------BUTTON------------------------------ */
.button {
  padding: 12px 20px;
  border: 1px solid #ff6c00;
  border-radius: 25px; 

  background-color: transparent;
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
}

.button:hover,
.button:focus {
  background-color: var(--accent-color);
}

/*------------------------------UPTITLE------------------------------*/
.uptitle {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
}

/*-----------------------------SECTION-TITLE-------------------------*/
.section-title {
  font-family: 'Raleway', sans-serif;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}

/*-------------------------------SUBTITLE----------------------------*/
.subtitle {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

/* ---------------------------------HEADER------------------------- */
.header {
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: #494b46;
}

.logo {
  color: var(--secondary-text-color);
}

.header-nav-link {
  color: var(--primary-dark-bg-text-color);

  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
}
.header-nav-link:hover,
.header-nav-link:focus {
  color: var(--accent-color);
}
.header-nav-link.current {
  color: var(--accent-color);
}

.header-contact {
  color: var(--primary-dark-bg-text-color);

  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-decoration: none;
}
.header-contact:hover,
.header-contact:focus {
  color: var(--accent-color);
}

.header-btn {
  color: var(--primary-dark-bg-text-color);
}

/*-----------------------------------HERO------------------------------*/
.hero-link {
  color: var(--primary-text-color);

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
}

.hero-wrap {
  background-image: url(../images/hero.jpg);
  padding: 272px 100px 208px 100px;
}

.hero-link:hover,
.hero-link:focus {
  color: var(--accent-color);
}

.hero-uptitle {
  margin-bottom: 20px;

  color: rgba(157, 164, 189, 0.6);
}

.hero-title {
  margin-bottom: 20px;
  
  color: var(--primary-dark-bg-text-color);

  font-family: 'Raleway', sans-serif;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
}

.hero-subtitle {
  color: var(--secondary-dark-bg-text-color);
}

/* ------------------------------ABOUT US----------------------------- */
.about-uptitle {
  margin-bottom: 20px;
  color: var(--primary-text-color);
}

.about-title {
  margin-bottom: 20px;
}

.about-subtitle {
  color: var(--secondary-text-color);
  margin-bottom: 20px;
}

.about-text {
  margin-bottom: 42px;
  color: var(--secondary-text-color);

  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
}

.about-btn {
  color: var(--primary-text-color);
}
.about-btn:hover,
.about-btn:focus {
  color: var(--primary-dark-bg-text-color);
  background-color: var(--accent-color);
}

/* -----------------------------SERVICES and PRICES------------------- */
.prices {
  background-color: var(--accent-background-color);
}

.prices-uptitle {
  margin-bottom: 20px;
  color: rgba(157, 164, 189, 0.6);
}

.prices-title {
  margin-bottom: 44px;
  color: var(--primary-dark-bg-text-color);
}

.prices-list {
  border: 1px solid #ffffff;
  padding: 30px 20px;
}

.prices-text {
  color: var(--secondary-dark-bg-text-color);

  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

.prices-btn {
  display: block;
  margin: 0 auto;

  color: var(--primary-dark-bg-text-color);
}


/*----------------------------------BENEFITS---------------------------*/
.benefits {
}
.benefits-list {
}
.benefits-item {
  width: 170px;
  height: 133px;
  padding: 20px 24px;
  border: 1px solid #000000;
  text-align: center;
}

.benefits-count {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  letter-spacing: 0.05em;
}

.benefits-plus {
  color: var(--accent-color);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.36;
}

.benefits-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
}

.benefits-uptitle {
  margin-bottom: 20px;
}

.benefits-title {
  margin-bottom: 20px;
}

.benefits-subtitle {
  color: var(--secondary-text-color);
}

/*----------------------------------BARBERS---------------------------*/
.barbers {
  background-color: var(--secondary-background-color);
}

.barbers-uptitle {
  margin-bottom: 20px;
}
.barbers-title {
  margin-bottom: 44px;
}

.barbers-list {
}
.barbers-item {
}

.barber-card {
  padding-top: 30px;
  padding-bottom: 30px;
}

.barbers-item-title {
  margin-bottom: 8px;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.39;
  letter-spacing: 0.02em;
}

.barbers-text {
  color: var(--accent-color);

  font-size: 14px;
  line-height: 1.36;
  letter-spacing: 0.02em;
}

.barbers-soc-list {
}
.barbers-soc-item {
}
.barbers-soc-link {
}

/*--------------------------------PORTFOLIO---------------------------*/
.portfolio {
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.portfolio-uptitle {
  margin-bottom: 44px;
}

/*---------------------------------CONTACTS---------------------------*/
.contacts {
  padding-top: 130px;
  padding-bottom: 120px;

  background-color: var(--accent-background-color);
}

.contacts-title {
  color: var(--primary-dark-bg-text-color);
}

.contacts-address {
  margin-top: 40px;
  margin-bottom: 70px;

  color: var(--secondary-dark-bg-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

.contacts-link {
  display: block;
  margin-top: 20px;

  color: var(--secondary-dark-bg-text-color);

  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}
.contacts-uptitle {
  margin-bottom: 20px;
  color: var(--primary-dark-bg-text-color);
}

.contacts-subtitle {
  color: var(--secondary-dark-bg-text-color);
}

/*---------------------------------FOOTER------------------------------*/
.footer {
  padding-top: 56px;
  padding-bottom: 56px;
  background-color: var(--secondary-background-color);
}

.footer-text {
  color: var(--secondary-dark-bg-text-color);

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
}

.footer-link {
  color: var(--primary-text-color);

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
    letter-spacing: 0.2em;
}
