.section-container {
    display: flex;
    gap: var(--gap);
}

.about-list {
    display: flex;
    gap: var(--gap);
}

.about-wrap {
    max-width: 470px;
}

.about-uptitle {
    margin-bottom: 20px;
    color: var(--primary-text-color);
}

.about-title {
    margin-bottom: 20px;
}

.about-subtitle {
    color: var(--secondary-text-color);
    margin-bottom: 20px;
}

.about-text {
    margin-bottom: 42px;
    color: var(--secondary-text-color);
    @include font (null, 14px, 1.86, 0.02em);
}

.about-btn {
    color: var(--primary-text-color);

    transition: background-color var(--transition), color var(--transition);
    &:hover,
    &:focus {
    color: var(--primary-dark-bg-text-color);
    background-color: var(--accent-color);
    }    
}

