.about__container {
    display: flex;
    gap: var(--gap);
}

.pictures-list {
    display: flex;
    gap: var(--gap);
}

.about__wrap {
    max-width: 470px;
}

.about__uptitle {
    margin-bottom: 20px;
    color: var(--primary-text-color);
}

.about__title {
    margin-bottom: 20px;
}

.about__subtitle {
    color: var(--secondary-text-color);
    margin-bottom: 20px;
}

.about__text {
    margin-bottom: 42px;
    color: var(--secondary-text-color);
    @include font (null, 14px, 1.86, 0.02em);
}

.about__btn {
    color: var(--primary-text-color);

    transition: background-color var(--transition), color var(--transition);
    &:hover,
    &:focus {
    color: var(--primary-dark-bg-text-color);
    background-color: var(--accent-color);
    }    
}

