.barbers {
    background-color: var(--secondary-background-color);
}

.barbers__uptitle {
    margin-bottom: 20px;
}

.barbers__title {
    margin-bottom: 44px;
}

.card-list {
    display: flex;
    gap: var(--gap);
    flex-wrap: wrap;
}

.card-list__item {
    width: 100%;

    @include desktop {
        width: calc((100% - 60px) / 3);
    }
}

.card-list__meta {
    padding-top: 30px;
    padding-bottom: 30px;
}

.card-list__title {
    margin-bottom: 8px;
    @include font (400, 18px, 1.39, 0.02em);
    text-align: center;
}

.card-list__text {
    color: var(--accent-color);
    @include font (null, 14px, 1.36, 0.025em);
    text-align: center;
}

.socials {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.socials__item {
    width: 44px;
    height: 44px;
}

.socials__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: var(--primary-background-color);
    border-radius: 50%;
}

.socials__icon {
    fill: var(--primary-text-color);
    width: 20px;
    height: 20px;

    transition: fill var(--transition);
    .socials__link:hover &,
    .socials__link:focus & {
    fill: var(--accent-color);
    }
}

