.benefits__container {
    display: flex;
    flex-direction: column-reverse;
    gap: 44px;
    @include desktop {
        flex-direction: row;
        padding-left: 115px;
        gap: 130px;
    }
}

.benefits__list {
    display: flex;
    @include tablet {
        width: 450px;
        align-self: flex-end;
    }
    // width: 370px;
    flex-wrap: wrap;
    flex-shrink: 0;
}

.benefits__item {
    width: calc((100% - 30px) / 2);
    
    @include mobile {
        width: 194px;
    }
    
    @include tablet {
        width: 210px;
    }
    @include desktop {
        width: 170px;
    }
    
    height: 133px;
    padding: 20px 24px;
    background-color: var(--secondary-background-color);
    text-align: center;

    &:nth-child(odd) {
    margin-right: 30px;
    }
    &:nth-child(even) {
    margin-top: 30px;
    }
}

.benefits__count {
    @include font (700, 36px, 1.36, 0.05em);
    @include mobile {
        font-size: 42px;
    }

    &:after {
    content: '';
    display: inline-block;
    width: 13px;
    height: 22px;
    background-image: url(../images/+.svg);
    background-repeat: no-repeat;
    background-position: top;
    }
}

// .benefits__plus {
//     color: var(--accent-color);
//     @include font (600, 16px, 1.36, null);
// }

.benefits__text {
    @include font (600, 11px, 1.36, null);
}

.benefits__wrap {
    width: 100%;
    @include tablet {
        max-width: 500px;

    }
    padding-top: 9px;
}

.benefits__uptitle {
    margin-bottom: 20px;
}

.benefits__title {
    margin-bottom: 20px;
    font-size: 40px;
    @include tablet {
        font-size: 42px;
    }
}

.benefits__subtitle {
    color: var(--secondary-text-color);
}