.contacts {
    width: 100%;
    padding-top: 84px;
    padding-bottom: 84px;
    @include tablet {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    @include desktop {
        width: calc(50% - 15px);
        padding-top: 130px;
        padding-bottom: 120px;
        padding-left: 100px;
    }
}

.contacts__title {
    color: var(--primary-dark-bg-text-color);
    text-align: center;
    margin-bottom: 40px;
    @include tablet {
        text-align: left;
    }
}

.contact-wrapper {
    @include tablet {
        display: flex;
        justify-content: space-between;
    }
    @include desktop {
        flex-direction: column;
    }
    
}

.address {
    margin-bottom: 44px;
    @include desktop {
        margin-bottom: 70px;
    }

    color: var(--secondary-dark-bg-text-color);
    @include font (700, 18px, 1.67, 0.02em);
}

.address__link {
    display: flex;
    margin-top: 20px;
    align-items: center;
    color: var(--secondary-dark-bg-text-color);
    @include font (400, 18px, 1.67, 0.02em);
}

.address__link-bold {
    font-weight: 700;
    @include desktop {
        width: 230px;
    }
}

.address__icon {
    stroke: currentColor;
    margin-right: 20px;
}

.contacts__uptitle {
    margin-bottom: 20px;
    color: var(--primary-dark-bg-text-color);

    &::before {
    content: '';
    height: 1px;
    width: 60px;
    background-color: rgba(157, 164, 189, 0.4);
    }
}

.contacts__subtitle {
    @include font (null, 18px, 1.67, 0.02em);
    color: var(--secondary-dark-bg-text-color);
}