.footer {
    padding-top: 44px;
    padding-bottom: 44px;
    @include tablet {
        padding-top: 56px;
        padding-bottom: 56px;
    }
    background-color: var(--secondary-background-color);
}

.footer__container {
    display: flex;
    align-items: flex-start;
    @include tablet {
        align-items: center;
    }
}

.footer__text {
    @include tablet {
        margin-top: 0;
    }
    margin-top: 27px;
    color: var(--secondary-dark-bg-text-color);
    @include font (600, 11px, 1.36, 0.02em);
}

.footer__list {
    display: flex;
    gap: 40px;
    margin-left: auto;
    align-items: center;

    &::before {
    content: '';
    height: 1px;
    width: 60px;
    background-color: var(--primary-text-color);
    }
}

.footer__link {
    color: var(--primary-text-color);
    @include font (600, 11px, 1.36, 0.02em);
    transition: color var(--transition);

    &:hover,
    &:focus {
    color: var(--accent-color);
    }
}

