.hero__container {
    display: flex;
    padding: 0;
    @include mobile {
        max-width: 100%;
    }
    @include tablet {
        max-width: 720px;
        padding-right: 15px;
        padding-left: 15px;
    }
    @include desktop {
        max-width: 1200px;
    }
}

.soc {
    display: none;
    @include tablet {
        display: flex;
    }
    width: 100px;
    align-items: flex-end;
    padding-bottom: 40px;
    padding-left: 27px;
}

.soc-list {
    display: flex;
    align-items: center;
    gap: 40px;
    transform: rotate(-90deg) translateY(100%);
    transform-origin: bottom left;

    &::before {
    content: '';
    height: 1px;
    width: 60px;
    background-color: currentColor;  
    }
}

.soc-list__link {
    color: var(--primary-text-color);
    @include font (600, 11px, 1.36, 0.2em);
    transition: color var(--transition);

    &:hover,
    &:focus {
    color: var(--accent-color);
    }
}

.hero__wrap {
    padding: 210px 30px;
    flex-grow: 1;

    background-image: var(--grad), 
    url(../images/hero-bg-mob.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @include retina {
        background-image: var(--grad),
        url(../images/hero-bg-mob-2x.jpg);
    }

    @include mobile {
        background-image: var(--grad), 
        url(../images/hero-bg-tab.jpg);
        @include retina {
            background-image: var(--grad),
            url(../images/hero-bg-tab-2x.jpg);
            }
    }

    @include tablet {
        background-image: var(--grad), 
        url(../images/hero-bg.jpg);
        @include retina {
            background-image: var(--grad),
            url(../images/hero-bg-2x.jpg);
            }
        padding: 272px 98px 237px 98px;
    }

    @include desktop {
        padding: 272px 100px 208px 100px;
    }
}

.hero__uptitle {
    margin-bottom: 20px;
    color: rgba(157, 164, 189, 0.6);
}

.hero__title {
    margin-bottom: 20px;
    
    color: var(--primary-dark-bg-text-color);
    font-family: 'Raleway', sans-serif;
    @include font (null, 48px, 1.17, 0.05em);
    @include desktop {
        @include font (null, 72px, 1.18, 0.05em);
    }
}

.hero__subtitle {
    max-width: 360px;
    color: var(--secondary-dark-bg-text-color);
}