.hero__container {
    display: flex;
}

.soc {
    width: 100px;
    display: flex;
    align-items: flex-end;
    padding-bottom: 40px;
    padding-left: 27px;
}

.soc-list {
    display: flex;
    align-items: center;
    gap: 40px;
    transform: rotate(-90deg) translateY(100%);
    transform-origin: bottom left;

    &::before {
    content: '';
    height: 1px;
    width: 60px;
    background-color: currentColor;  
    }
}

.soc-list__link {
    color: var(--primary-text-color);
    @include font (600, 11px, 1.36, 0.2em);
    transition: color var(--transition);

    &:hover,
    &:focus {
    color: var(--accent-color);
    }
}

.hero__wrap {
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../images/hero-bg1.jpg);
    padding: 272px 100px 208px 100px;
    flex-grow: 1;
}

.hero__uptitle {
    margin-bottom: 20px;
    color: rgba(157, 164, 189, 0.6);
}

.hero__title {
    margin-bottom: 20px;
    
    color: var(--primary-dark-bg-text-color);
    font-family: 'Raleway', sans-serif;
    @include font (null, 72px, 1.18, 0.05em);
}

.hero__subtitle {
    max-width: 360px;
    color: var(--secondary-dark-bg-text-color);
}